@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
header {
  background: url("../public/Screenshot\ 2026-01-08\ 161334.png") center center /
    cover no-repeat;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2faff;
    --foreground: #030000;
    --color--moon: #3d4756;
    --color--header--button: #b98931;
    --color--submit--form: #35c191;
    --color--aboutme: #d9d9d9;
    --color--projectcard: #e6fdff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
